
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@1,700&family=Roboto:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 20px 8px 20px;
    
}

.nav_logo{
    margin-left: 60px;
}

.social_media_rediretion{
    display: flex;
    justify-content: space-between;
    align-items: centre;
    margin-left: 20px;
}

.nav_login_signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 85px;
}

i{
    background-color: #cecece;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-left: 10px;
}

.nav_social_button{
    padding: 5px 15px 5px 15px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

#nav_social_facebook_button{
    background-color: #3b5998;
}
#nav_social_facebook_button:hover{
    background-color: #3c65bd;
}
#nav_social_twitter_button{
    background-color: gray;
}
#nav_social_twitter_button:hover{
    background-color: rgb(109, 109, 109);
}

.nav_login_signup>p{
    font-size: 15px;
    color: #444444;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}

.line{
    margin-left: 8px;

}

.nav_login_signup>a{
    font-size: 15px;
    color: #444444;
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

/* Home Items */

#items_category{
    width: 100%;
    background-color: #2bb673;
}

#items_category_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: auto;
}

#items_category_list>li{
    list-style: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    font-weight:bold;
    font-size: 18px;
}

#items_category_list>li>a{
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
}
#items_category_list>li:hover{
    color: rgb(242, 242, 242);
}
#category>ul>li:nth-child(3){
    background-color: #229760;
}

#category{
    background-color: #2bb673;
    
}
*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
#detail{
    background-color:#f0f0f0;
    padding: 11px 125px;
}
#detail>input{
    padding: 3px 10px;
    height: 38px;
    width: 372px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: white;
    border-radius: 15px;
    font-weight: bold;

    
}
#detail>p{
    font-weight: bold;

}
#detail>select{
    margin: 5px 7px;
    height: 39px;
    width: 150px;
    padding: 3px 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: white;
    border-radius: 15px;
    font-weight: bold;
    color: #444444;



}
#detail>button{
    padding: 11px 15px;
    height: auto;
    width: 180px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: white;
    border-radius: 15px;
    font-weight: bold;


}
#btn1{

    background-color:#2bb673;
    height: 36px;
    width: 180px;
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    margin-left: 256px;
    font-weight: bold;

}

#page{
    display: flex;
    margin: 25px 125px;
    /* justify-content: space-between; */
}
#page>div:first-child{
    color: black;
}
#page>div:nth-child(2){
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    color: black;

    




}
#page>div{
    color: #057ff1;
    margin: 7px 7px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}


#opt{
    display: flex;
    margin-left:125px;
    /* justify-content: space-between;
     */
}
#opt>div{
    display: flex;
    margin: 11px 69px;
}
#opt>div:first-child>div:first-child{
    background-color:#2bb673;
    color: white;

}
#opt>div:first-child>div{

    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding: 8px 10px;
}
#opt>div:last-child>div{
    margin:-2px 40px;


}

#opt>div>div{
    margin: 11px 1px;
    /* height: 36px; */
    height: 20px;
    cursor: pointer;
    width: 142px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

#input{
height: 36px;
width:222px;
border-radius: 7px;
border: 1px solid grey;
padding-left: 5px;
font-size: 16px;
font-weight: bold;

}
#select{
    height: 36px;
    /* border: none; */
    border-radius: 7px;
    border: 1px solid grey;

    font-size: 16px;
    color: gray;
    /* padding: 2px; */
    width: 180px;
    font-weight: bold;
}


.bg{
  height:380px;
  width: 1520px;

  


}
.pi>img{
    height: 200px;
    width: 200px;
    border: 5px solid whitesmoke;
    margin-left: 151px;
    
    

}

.pi{

  /* height: 200px;
  width: 200px; */
  display: flex;
  position:relative;
  bottom: 181px;

  left: 3px;
  /* background-color: #f0f0f0; */
  background-color: rgba(209, 201, 201, 0.5); 
  /* background-color: red; */
  /* justify-content: space-between; */
  width: 100%;
  border: 7px;
  
  padding: 1px 1px;
  border-radius: 7px;
  width: auto;
  padding-right: 15px;
  
   
  

}
.us{
    margin-left: 11px;
    margin-top:140px;
    

    
}

.but{
     
    
    color: white;
    background-color: red;
    cursor: pointer;
    border-radius: 7px;
    border: white;
    width: 180px;
    font-size: 16px;
    
    height: 40px;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 25px;
   
  
}
.us>h2{
    margin-left: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.picsy{
    position: relative;
    top: 25px;
}
body{
    background-color:  whitesmoke
}
