#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    /* width: 80%; */
    margin: auto;
    width: 80%;
    gap:11px 0px;
    /* gap: 18px -15px; */
  }
 #container>div{
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  height: auto;
  margin: 5px 7px;
  padding: 11px 0px;
  width: 351px;
  transition: 0.5s;
  overflow: hidden;
  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
 }
 #container>div:hover{
  transform: translate(-20px);
  
  
  
   }
 #container>div::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: rgba(255,255,255, 0.5);
  transform: skewX(45deg) translate(150px);
  transition: 0.5s;

}
#container>div:hover::before{
  transform: skewX(45deg) translate(-150px);

}


 .box1{
 display: flex;
 padding: 5px 0px;
 justify-content: space-evenly;
 
 
 }
 .box1>p{
  margin-top: 11px;
  margin-left:11px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .box1>button{
  
  padding: 7px;
    color: white;
    background-color: red;
    cursor: pointer;
    border-radius: 7px;
    border: white;
    height: 32px;
    width: 70px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
  
 }
.box3{
  width: fit-content;
}
.p2{
  padding: 2px 11px;
  text-shadow: 1px;
  font-weight: bold;
}